<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{/layout/basic :: setContent(~{this::content} )}">
	<th:block th:fragment="content">
	
	
	<span>
		<!-- 삽입 링크 -->
		<a th:href="@{/review/register}">
			<button type="button" class="btn btn-outline-info">REGISTER</button>
		</a>
	</span>
	
	<!-- 데이터 목록 출력 -->
	<table class="table table-striped">
		<!-- 제목 -->
		<thead>
			<tr>
				<th scope="col">##</th>
				<th scope="col">제목</th>
				<th scope="col">작성자</th>
				<th scope="col">작성일</th>
			</tr>
		</thead>
		
		<tbody>
			<tr th:each="dto : ${result.dtoList}" >
				<!-- 글 번호 출력 -->
				<th scope="row">
					<!-- 상세보기 링크 -->
					<a th:href="@{/review/read(review_num = ${dto.review_num}, 
										       page= ${result.page},
										       type=${pageRequestDTO.type}, 
										       keyword = ${pageRequestDTO.keyword})}">
						[[${dto.review_num}]]
					</a>
				</th>
				<!-- 제목 출력 -->
				<td>[[${dto.review_title}]]</td>
				<!-- 작성자 이름과 이메일 출력 -->
				<td>[[${dto.member_name}]] </td>
				<!-- 작성일을 출력 -->
				<td>[[${#temporals.format(dto.inst_dtm, 'yyyy/MM/dd')}]]</td>
			</tr>
		</tbody>
	</table>
	

	<!-- 페이지 번호 출력 -->
	<ul class="pagination h-100 justify-content-center align-items-center">
		<!-- 이전 -->
		<li class="page-item " th:if="${result.prev}">
			<a class="page-link" th:href="@{/review/list(page= ${result.start -1}
			                                            ,type=${pageRequestDTO.type}
			                                            ,keyword=${pageRequestDTO.keyword} )}" tabindex="-1">Previous</a>
		</li>
		<!-- 페이지 번호 - 현재 페이지 번호에는 링크를 설정하지 않음 -->
		<li th:class=" 'page-item ' + ${result.page == page?'active':''} " th:each="page:${result.pageList}">
			<a class="page-link" th:href="@{/review/list(page = ${page}
			                                            ,type=${pageRequestDTO.type}
			                                            ,keyword = ${pageRequestDTO.keyword})}">
				[[${page}]]
			</a>
		</li>
		<!-- 다음 -->
		<li class="page-item" th:if="${result.next}">
			<a class="page-link" th:href="@{/review/list(page= ${result.end + 1},
			                                             type=${pageRequestDTO.type},
			                                             keyword=${pageRequestDTO.keyword})}">Next</a>
		</li>
	</ul>
	
	<!-- 검색 창 -->
	<nav class="navbar navbar-light bg-light ">
	  <div class="container-fluid navbar-expand-sm justify-content-center">
		  <form class="d-flex" action="/review/list" method="get">
			  	<input type="hidden" name="page" value = "1">
			  	
				<div class="form-control mr-sm-2">
					<select class="custom-select" name="type">
						<option th:selected="${pageRequestDTO.type == null}">-------</option>
						<option value="t" th:selected="${pageRequestDTO.type=='t'}" >제목</option>
						<option value="c" th:selected="${pageRequestDTO.type=='c'}" >내용</option>
						<option value="w" th:selected="${pageRequestDTO.type=='w'}" >작성자</option>
						<option value="tc" th:selected="${pageRequestDTO.type =='tc'}" >제목 +내용</option>
						<option value="tcw" th:selected="${pageRequestDTO.type =='tcw'}" >제목 +내용 + 작성자</option>
					</select>
				</div>
			    <input class="form-control me-2" type="search" name="keyword" th:value="${pageRequestDTO.keyword}" aria-label="Search">
			    <button class="btn btn-outline-success" type="submit">Search</button>
		  </form>
	  </div>
	</nav>
	
	
	<!-- 대화 상자 -->
	<div class="modal" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">완료</h5>
						<button type="button" class="close" data-dismiss="modal" arialabel="Close">
							<span aria-hidden="true">&times;</span>
						</button>
				</div>
				<div class="modal-body">
					<p>[[${msg}]]</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" datadismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>

	<script th:inline="javascript">
		var msg = [[${msg}]];
		console.log(msg);
		
		if(msg){
			$(".modal").modal();
		}
	</script>

	</th:block>
</th:block>

</html>