<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
	<Properties>
		<Property name="LOG_PATTERN">%d{HH:mm:ss.SSSZ} [%t] %-5level %logger{36} -%message%n</Property>
	</Properties>
	<Appenders>
		<Console name="ConsoleLog" target="SYSTEM_OUT">
			<PatternLayout pattern="${LOG_PATTERN}" charset="UTF-8" />
		</Console>
		<RollingFile name="FileLog"
					 fileName="./logs/${date:yyyyMMdd}/daylog.log"
					 filePattern="./logs/${date:yyyyMMdd}/daylog-%d{yyyy-MM-dd}-%i.log">
			<PatternLayout pattern="${LOG_PATTERN}" charset="UTF-8" />
			<Policies>
				<TimeBasedTriggeringPolicy interval="1" />
				<SizeBasedTriggeringPolicy size="10000KB" />
			</Policies>
			<DefaultRolloverStrategy max="20" fileIndex="min" />
		</RollingFile>
		<RollingFile name="SecurityFileLog"
					 fileName="./logs/${date:yyyyMMdd}/securitydaylog.log"
					 filePattern="./logs/${date:yyyyMMdd}/securitydaylog-%d{yyyy-MM-dd}-%i.log">
			<PatternLayout pattern="${LOG_PATTERN}" charset="UTF-8" />
			<Policies>
				<TimeBasedTriggeringPolicy interval="1" />
				<SizeBasedTriggeringPolicy size="10000KB" />
			</Policies>
			<DefaultRolloverStrategy max="20" fileIndex="min" />
		</RollingFile>
	</Appenders>
	<Loggers>
		<Logger name="kr.co.abandog.config" level="INFO" additivity="false">
			<AppenderRef ref="SecurityFileLog" />
		</Logger>
		<Logger name="kr.co.abandog.service.OAuthMemberService" level="INFO" additivity="false">
			<AppenderRef ref="SecurityFileLog" />
		</Logger>
		<Logger name="org.hibernate.type.descriptor.sql.BasicBinder" level="TRACE" additivity="false">
			<AppenderRef ref="FileLog" />
		</Logger>
		<Logger name="org.hibernate.SQL" level="DEBUG" additivity="false">
			<AppenderRef ref="FileLog" />
		</Logger>
		<Root level="info">
			<AppenderRef ref="ConsoleLog" />
			<AppenderRef ref="FileLog" />
		</Root>
	</Loggers>
</Configuration>