<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="setContent(content)">
	<head>
		<title>펫 보호소</title>
		
		<meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
		
		<!-- 부트스트랩 -->
		<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
		
		 <!-- jQuery (부트스트랩의 자바스크립트 플러그인을 위해 필요합니다) -->
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	    <!-- 모든 컴파일된 플러그인을 포함합니다 (아래), 원하지 않는다면 필요한 각각의 파일을 포함하세요 -->
	    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
	</head>
	
	<body class="d-flex flex-column min-vh-100">
		<!-- 헤더 -->
		<div class="py-3 my-3 text-center">
			<h1><a href="/">펫 보호소</a></h1>
		</div>
	
		<!-- 내비게이션 바-->
		<div class="py-3 my-3">
			<th:block th:replace = "~{/layout/navbar :: setNavbar(~{this::navbar} )}"></th:block>
		</div>
		
		<!-- 내용 -->
		<div class="container-fluid">
              <th:block th:replace = "${content}">유기견 리스트</th:block>
        </div>
		
		<!-- 푸터 -->
		<footer class="text-center text-dark p-3 mt-auto bg-light">
		    <h5><a href="/">고객센터</a></h5>
		</footer>
	</body>
	
</th:block>
</html>
